html,body{
    height:100%;
}
#jsmind_container{
    width:50%;
    height:50%;
    border:solid 1px #ccc;
    /*background:#f4f4f4;*/
    background:#f4f4f4;
}

#getData{
    width: 80px;
    height: 24px;
}

.doIt{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #4cae4c;
}